body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.drawer-button,
.profile-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
}

.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.drawer a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.drawer a:hover {
  background-color: #555;
}

.navbar-brand {
  padding: 10px 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-title {
  margin-left: 5px;
}

.inbox {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
  border: 1px solid #a8a7a7; /* Added border style */
  border-radius: 5px;
  padding: 10px;
}

.avatar-user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
}
